<header>
    <div class="">
        <h1>RetroBlog</h1>
        <p>Un blog para amantes del retro</p>
    </div>
    <nav class="">
        <ul>
            <li><a href="#">Videojuegos</a></li>
            <li><a href="#">Ordenadores</a></li>            
            <li><a href="#">Consolas</a></li>
        </ul>
    </nav>
</header>